html, body, ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.show {
    text-align: left;
    height: 49%;
    width: 49%;
    outline: none;
    border: 1px solid pink;
    box-sizing: border-box;
    margin-right: 10px;
}

.show-edit {
    overflow-x: scroll;
    white-space: nowrap;
    padding: 20px 0px 20px 20px;

}

#graph-svg {
    height: 100%;
    width: 100%;
    background-color: white;
    /*border: 1px solid greenyellow;*/
    /*transform-box:fill-box;*/
    /*transform-origin:center;*/
    /*transform:scale(2);*/
}

.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: center;
}

#graph {
    /*overflow: auto;*/
    outline: none;

}

#graph-svg >svg {
    overflow: inherit;
}

.form-control {
    height: 100%;
    width: 100%;
    padding: 20px 0px 20px 20px;
    font-size: 18px;
    outline: none;
    border: none;
}

#dom-show .text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#dom-show {
    cursor: pointer;
}

#dom-view {
    position: relative;
    padding: 20px;
    overflow: auto;
}

#show-attr {
    padding: 20px;
    overflow: auto;
}

.tree-children {
    padding-left: 30px;
}

h1 {
    margin-top: 0;
}

.el-notification {
    display: flex;
    width: 330px;
    padding: 14px 26px 14px 13px;
    border-radius: 8px;
    box-sizing: border-box;
    top: 0;
    right: 0;
    border: 1px solid #ebeef5;
    position: fixed;
    background-color: #fff;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
    transition: opacity .3s, transform .3s, left .3s, right .3s, top .4s, bottom .3s;
    overflow: hidden;
}

.show-active {
    position: relative;
}

.select-dom {
    background-color: #89cff0;
}

.show-active:before {
    content: " ";
    display: block;
    position: absolute;
    left: 6px;
    height: calc(100% - 25px);
    margin-top: 21px;
    border-left: 1px solid yellow;
}

.show-active .icon {
    padding-right: 3px;
}

.tree-children {
    display: none;
}

.show-active > .tree-children {
    display: block;
}

.show-active > .hiddle {
    display: none;
}

.head {

}

.props-wrap {

    max-width: 45%;
}

.props {
    color: #f30;
}

.props:before {
    content: ' ';
}

.props:after {
    content: '';
}

.props-value {
    color: cornflowerblue;

}

.props-value:before {
    content: '"';
}

.props-value:after {
    content: '"';
}

.head:before {
    content: "<";
}

.head:after {
    content: "/>";
}

.double-head:before {
    content: "<";
}

.double-head:after {
    content: ">";
}

.show-active .foot {
    margin-left: 13px;
}

.foot:before {
    content: " </";
}

.foot:after {
    content: ">";
}

.foot-one:before {
    content: "</";
}

.foot-one:after {
    content: ">";
}


#menu {
    display: none;
    position: fixed;
    padding: 0;
    background-color: #fbfef8;
    border: 1px solid #dbdbdb;
    z-index: 2;
    padding-bottom: 10px;
    cursor: pointer;
    color: #585858;
}
#child-menu{
    display: none;
    position: absolute;
    padding: 0;
    right: -120px;
    top: 70px;
    margin:0;
    background-color: #fbfef8;
    border: 1px solid #dbdbdb;
    z-index: 2;
    padding-bottom: 10px;
    cursor: pointer;
    color: #585858;
}
#menu .menu-icon {
    color: cornflowerblue;
    padding-right: 5px;
}

#menu ul li {
    padding: 10px 20px 0 10px;
}

#rect-tip {
    display: none;
}


.aiwa-input-group {
    line-height: normal;
    display: flex;
    position:relative;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

.aiwa-input-group__prepend {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.aiwa-input-group__append, .aiwa-input-group__prepend {
    background-color: #f5f7fa;
    color: #909399;
    vertical-align: middle;
    position: relative;
    border: 1px solid #dcdfe6;
    border-radius: 4px;
    padding: 0 20px;
    line-height: 38px;
    width:150px;
    white-space: nowrap;
}
.delete-attr{
    background-color: #f56c6c;
    color: #fff;
    vertical-align: middle;
    position: absolute;
    border: 1px solid #dcdfe6;
    border-radius: 4px;
    padding: 0 10px;
    line-height: 38px;
    width: 50px;
    white-space: nowrap;
    right:0;
    text-align:center;
    cursor: pointer;
}
.aiwa-input__inner {
    -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 40px;
    line-height: 40px;
    outline: none;
    padding: 0 15px;
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    width: 100%;
    cursor: pointer;
}

.aiwa-input__inner:disabled {
    cursor: no-drop
}

.aiwa-input-group--prepend .aiwa-input__inner, .aiwa-input-group__append {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.aiwa-input-group > .aiwa-input__inner {
    vertical-align: middle;
    display: table-cell;
}

.aiwa-button {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #fff;
    border: 1px solid #dcdfe6;
    color: #606266;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    transition: .1s;
    font-weight: 500;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 10px 18px;
    font-size: 14px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.aiwa-button--primary {
    color: #fff;
    background-color: #409eff;
    border-color: #409eff;
}
.aiwa-message-box__wrapper{
    position: fixed;
    display:flex;
    justify-content: center;
    align-items: center;
    background:#818181;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    opacity:0.5;
}
.aiwa-message-box{
    display: inline-block;
    width: 420px;
    padding-bottom: 10px;
    vertical-align: middle;
    background-color: #000000;
    opacity:1;
    border-radius: 4px;
    border: 1px solid #ebeef5;
    font-size: 18px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    overflow: hidden;
    backface-visibility: hidden;
 }
.add-container{
    display: none;
}